# KiCad gitignore
*.bak
*.bck
*.kicad_prl
*.kicad_pro-bak
*.sch-bak
*.pcb-bak
*-cache.lib
*-rescue.lib
*.ses
*.drl
*.gbr
*.gko
*.gto
*.gbo
*.gm1
*.g1
*.g2
*.g3
*.g4
*.g5
*.g6
*.g7
*.g8
*.g9
*.d356
*.pos
*.zip
*.tar.gz
*.log
*.pyc
__pycache__/
.vscode/
.idea/
